<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.2/ui-grid.min.css" />
  <link rel="stylesheet" href="/css/edituser.css" />
  <title>Edituser Page</title>
</head>

<body>
  <div class="container">
    <nav class="menu">
      <ul>
        <div class="logo"><img src="/assets/logo.png" alt="Girl in a jacket"
            style="width:100px;height:100px; margin:30px 70px 30px"></div>
        <input class="bar" type="radio" name="menu" id="archive" checked>

        <li>
          <!-- <label for="archive" class="title"><i class="fa fa-folder"></i>Archive</label> -->
          <a href="http://localhost:5001/Home">
            <ion-icon name="home-outline" class="icon"></ion-icon>dashboard
          </a>
          <a href="http://localhost:5001/Requestuser">
            <ion-icon name="person-outline" class="icon"></ion-icon>อนุมัติสิทธิผู้ใช้
          </a>
          <a href="http://localhost:5001/Authuser">
            <ion-icon name="people-outline" class="icon"></ion-icon>จัดการสิทธิ์ผู้ใช้
          </a>
          <a href="http://localhost:5001/Cardata">
            <ion-icon name="settings-outline" class="icon"></ion-icon>จัดการข้อมูลรถ
          </a>
          <a href="http://localhost:5001/Leaveinfo">
            <ion-icon name="document-text-outline" class="icon"></ion-icon>ข้อมูลการลา
          </a>
          <a onclick="logout()">
            <ion-icon name="log-out-outline" class="icon"></ion-icon>ออกจากระบบ
          </a>

        </li>

      </ul>
    </nav>
    <main class="main">
      <div class="card">
        <h2>
          <ion-icon name="create-outline" class="icon"></ion-icon>แก้ไขสิทธิ์ผู้ใช้
        </h2>

        <%if(result.success){%>
          <div class="alert alert-success">
            <%=result.success%>
          </div>
          <%}%>
            <%if(result.error){%>
              <div class="alert alert-danger">
                <%=result.error%>
              </div>
              <%}%>
                <form method="post" action="/Edituser">

                  <div class="form-group col-md-6">
                    <label for="inputmail">อีเมล์</label>
                    <input type="text" class="form-control" name="user_email" id="email" value="<%=result.user_email%>">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputpass">รหัสผ่าน</label>
                    <input type="password" class="form-control" name="user_pass" id="pass" value="">
                  </div>

                  <div class="form-group col-md-6">
                    <label for="inputfname">ชื่อจริง</label>
                    <input type="text" class="form-control" name="user_fname" id="user_fname"
                      value="<%=result.user_fname%>">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputlname">นามสกุล</label>
                    <input type="text" class="form-control" name="user_lname" id="user_lname"
                      value="<%=result.user_lname%>">
                  </div>
                  <div class="form-group col-md-12">
                    <label for="inputtel">เบอร์โทร</label>
                    <input type="text" class="form-control" name="user_tel" id="user_tel" value="<%=result.user_tel%>">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputcarno">หมายเลขรถ</label>
                    <input type="text" class="form-control" name="car_no" id="car_no" value="<%=result.car_no%>" disabled>
                  </div>
                  <div class="col-md-12">
                    <!-- ยังไม่ได้connectionกับสิทธิผู้ใช้ -->
                    <label for="typeuser">สิทธิผู้ใช้</label>
                    <select class="form-control col-md-4" name="auth_id" id="auth_id" style="margin-bottom: 30px;"
                      autocomplete=on>
                      <option value="1">ผู้ปกครอง</option>
                      <option value="2">ครู</option>
                      <option value="3">คนขับรถ</option>
                      <option value="4">ผู้บริหาร</option>
                      <option value="5">แอดมิน</option>
                    </select>
                  </div>


                  <div class="col-md-6">
                    <button type="button" onclick="userEdit()" style="width: 60px; height: 30px; margin-right: 10px;"
                      class="btn btn-info">ตกลง</button>
                    <input type="submit" name="user_id" value="<%=result.user_id%>" id="form-edit" hidden="true" />
                    <a style="width: 60px; height: 30px" href="http://localhost:5001/Authuser" role="button"
                      class="btn btn-warning">ยกเลิก</a>
                  </div>
                </form>
    </main>
  </div>

  <script data-require="angular.js@1.5.8" data-semver="1.5.8"
    src="https://code.angularjs.org/1.5.8/angular.js"></script>
  <script data-require="jquery@3.0.0" data-semver="3.0.0"
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js"></script>

  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
  <!-- jQuery UI CSS  https://bootsnipp.com/snippets/Pa5Wr -->
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <script src="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.js"></script>
  <!-- https://stackoverflow.com/questions/43079235/get-selected-row-of-angularjs-ui-grid -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-touch.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-animate.min.js "></script>
  <!--<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.2/ui-grid.min.js"></script>-->
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-touch.min.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script>
    document.getElementById("auth_id").selectedIndex = parseInt('<%=result.auth_id%>') - 1;
    //var app = angular.module("app", [])
    document.addEventListener('DOMContentLoaded', function () {
      console.log("<%=message%>")
      if ("<%=message%>") {

        if ("<%=message%>" === 'success') {
          Swal.fire({
          // position: 'top-end',
          icon: 'success',
          title: 'Your work has been saved',
          showConfirmButton: false,
          timer: 1500
        })
        }else{
          Swal.fire({
          // position: 'top-end',
          icon: 'error',
          title: 'พัง',
          showConfirmButton: false,
          timer: 1500
        })
        }
      }
    })
    function userEdit() {
      let email = document.getElementById('email').value;
      let pass = document.getElementById('pass').value;
      let user_fname = document.getElementById('user_fname').value;
      let user_lname = document.getElementById('user_lname').value;
      let user_tel = document.getElementById('user_tel').value;
      let auth_id = document.getElementById('auth_id').value;
      console.log(email);
      if (!!email && !!pass && !!user_fname && !!user_lname && !!user_tel  && !!auth_id) {
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, save it!'
        }).then((result) => {
          if (result.isConfirmed) {
            let submit = document.getElementById('form-edit');
            submit.click()
          }
        })
      } else if (email == null || email == "") {
        Swal.fire({
          title: 'กรอกใหม่อีกครั้ง',
          text: 'อีเมล์'
        })
      } else if (pass == null || pass == "") {
        Swal.fire({
          title: 'กรอกใหม่อีกครั้ง',
          text: 'รหัสผ่าน'
        })
      } else if (user_fname == null || user_fname == "") {
        Swal.fire({
          title: 'กรอกใหม่อีกครั้ง',
          text: 'ชื่อจริง'
        })
      } else if (user_lname == null || user_lname == "") {
        Swal.fire({
          title: 'กรอกใหม่อีกครั้ง',
          text: 'นามสกุล'
        })
      } else if (user_tel == null || user_tel == "") {
        Swal.fire({
          title: 'กรอกใหม่อีกครั้ง',
          text: 'เบอร์โทร'
        })
      }  else if(auth_id == null || auth_id == ""){
        Swal.fire({
          title:'กรอกใหม่อีกครั้ง',
          text:'สิทธิผู้ใช้'
        })
      }

    }
  </script>
  <script src="/js/auth.js"></script>
  <script>
    hasLogin();
  </script>
</body>

</html>