<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.2/ui-grid.min.css" />  
    <link rel="stylesheet" href="/css/editcar.css"/>
    <title>Editcar Page</title>
</head>
<body>

    <div class="container">
	<nav class="menu">
			<ul>
				<div class="logo"><img  src="/assets/logo.png" alt="Girl in a jacket" style="width:100px;height:100px; margin:30px 70px 30px"></div>
				<input class="bar" type="radio"  name="menu" id="archive" checked>
                
				<li>
					<!-- <label for="archive" class="title"><i class="fa fa-folder"></i>Archive</label> -->
					<a href="http://localhost:5001/Home" ><ion-icon name="home-outline" class="icon"></ion-icon>dashboard</a>
					<a href="http://localhost:5001/Requestuser" ><ion-icon name="person-outline" class="icon"></ion-icon>อนุมัติสิทธิผู้ใช้</a>
					<a href="http://localhost:5001/Authuser" ><ion-icon name="people-outline" class="icon"></ion-icon>จัดการสิทธิ์ผู้ใช้</a>
                    <a href="http://localhost:5001/Cardata" ><ion-icon name="settings-outline" class="icon"></ion-icon>จัดการข้อมูลรถ</a>
                    <a href="http://localhost:5001/Login" ><ion-icon name="log-out-outline" class="icon"></ion-icon>ออกจากระบบ</a>
				
				</li>
				
			</ul>
		</nav>
		<main class="main">
			<div class="card">
				<h2><ion-icon name="create-outline" class="icon"></ion-icon>แก้ไขสิทธิ์ผู้ใช้</h2>
        <form>
                    
          <div class="form-group col-md-12">
            
              <label for="inputAddress">ทะเบียนรถ</label>  <br>
              'ipcarred':ipcarreg,
              'ipcarno':ipcarno,
              'ipcarseat':ipcarseat,
              'ipdriver':ipdriver,
              'ipteacher':ipteacher
              <input type="text"  class="form-control" id="ipcarred"  value="<%=result.car_reg%>" >
            </div>
        <div class="form-group col-md-12">
          <label for="inputPassword4">หมายเลขรถ</label>
          <input type="text" class="form-control" id="ipcarno" value="<%=result.car_no%>" >
        </div>
      
      <div class="form-group col-md-12">
          <label  for="inputEmail4">จำนวนที่นั่ง</label>
          <input type="text" class="form-control" id="ipcarseat" value="<%=result.car_seat%>" >
        </div>
        <div class="form-group col-md-12">
          <label for="inputPassword4">คนขับรถ</label>
          <input type="text"  class="form-control" id="ipdriver" value="<%=result.driver%>" >
        </div>
      <div class="form-group col-md-12">
        <label for="inputAddress">ครูประจำรถ</label>      
        <input type="text"  class="form-control" id="ipteacher" value="<%=result.teacher%>" >
      </div>
    </form> 
                  
                  <div class="col-md-6">
                    <a style="width: 60px; height: 30px; margin-right: 10px;"  onclick="editcar(`<%=result.id%>`)" role="button" class="btn btn-info">ตกลง</a>
							      <a style="width: 60px; height: 30px"  href="http://localhost:5001/Home" role="button" class="btn btn-warning">ยกเลิก</a>
                  </div>
                 
                </main>
	</div>

	<script data-require="angular.js@1.5.8" data-semver="1.5.8" src="https://code.angularjs.org/1.5.8/angular.js"></script>
    <script data-require="jquery@3.0.0" data-semver="3.0.0" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js"></script>
<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
<!-- jQuery UI CSS  https://bootsnipp.com/snippets/Pa5Wr -->
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script src="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.js"></script>
<!-- https://stackoverflow.com/questions/43079235/get-selected-row-of-angularjs-ui-grid -->
 <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-touch.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-animate.min.js "></script>
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.2/ui-grid.min.js"></script>-->
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-touch.min.js"></script>
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
	<script>
		//var app = angular.module("app", [])
var app = angular.module('app', ['ui.grid', 'ui.grid.pagination', 'ui.grid.selection']);

//myApp.controller("myCntrl", ['$scope', '$http', 'i18nService', 
//initCntrl]);
function editcar(id){

var inputtel = document.getElementById('inputtel').value

data = {
  'inputtel':inputtel,
};



console.log(data);
}
app.controller("MainController", ['$scope', function($scope) {
	
	$scope.limit = 25;
	$scope.column = 'car_no';
	$scope.reverseSort = false;
	$scope.sortClass = "text-primary";
	
	$scope.sortColumn = function(column) {
		$scope.reverseSort = ($scope.column == column) ? !$scope.reverseSort : false;
		$scope.column = column;
	};
	
	let result = JSON.parse('<%=result%>'.replaceAll("&#34;","\""));
	$scope.properties = result
}]);


//app.controller("MainController", ['$scope', function($scope) {
app.controller("MoveCtrl", ['$scope', function($scope) {
	 $scope.moveItem = function(items, from, to) {

        console.log('Move items: ' + items + ' From: ' + from + ' To: ' + to);
        //Here from is returned as blank and to as undefined

        items.forEach(function(item) {
          var car_idx = from.indexOf(item);
          if (car_idx != -1) {
              from.splice(car_idx, 1);
              to.push(item);      
          }
        });
    };
    $scope.moveAll = function(from, to) {

        console.log('Move all  From:: '+from+' To:: '+to);
        //Here from is returned as blank and to as undefined

        angular.forEach(from, function(item) {
            to.push(item);
        });
        from.length = 0;
    };                

    $scope.selectedclients = [];   
    // $scope.availableclients = [
    //   {
    //     id: 1, 
    //     name: 'foo'
    //   }, 
    //   {
    //     id: 2, 
    //     name: 'bar'
    //   },
    //   {
    //     id: 3,
    //     name: 'baz'
    //   }
    // ];
	
	}]);
// app.controller("MainCtrl", ['$scope', '$timeout', function($scope , $timeout) {
//     var vm = this;
//     vm.gridOptions = {
//       enableRowSelection: false,
//       enableSelectAll: false,
//       showGridFooter:true,
//       data: [{productName: "Moroni", unitPrice: 50},
//              {productName: "Tiancum", unitPrice: 43},
//              {productName: "Jacob", unitPrice: 27},
//              {productName: "Nephi", unitPrice: 29},
//              {productName: "Enos", unitPrice: 34}]
//     };
//     vm.gridOptions.columnDefs = [
//         { name: 'productName' },
//         { name: 'unitPrice' }
//     ];
//     vm.gridOptions.multiSelect = false;
//     vm.getSelectedRows = function () {
//         vm.mySelectedRows = vm.gridApi.selection.getSelectedRows();
//     }
//     vm.getProductList = function() {
//       vm.gridOptions.data = vm.resultSimulatedData;
//       vm.mySelectedRows = vm.gridApi.selection.getSelectedRows(); //<--Property undefined error here
//       if (vm.mySelectedRows[0]) {
//         alert('Selected Row: ' + vm.mySelectedRows[0].productName + ', ' + vm.mySelectedRows[0].unitPrice + '.');
//       } else {
//         alert('Select a row first');
//       }
//       $timeout(function() {
//           if (vm.gridApi.selection.selectedRow) {
//               vm.gridApi.selection.selectRow(vm.gridOptions.data[0]);
//           }
//       });
//     };
//     vm.gridOptions.onRegisterApi = function(gridApi) {
//       vm.gridApi = gridApi;
//     };
//     vm.resultSimulatedData = [{productName: "Moroni1", unitPrice: 50},
//                                {productName: "Tiancum1", unitPrice: 43},
//                                {productName: "Jacob1", unitPrice: 27},
//                                {productName: "Nephi1", unitPrice: 29},
//                                {productName: "Enos1", unitPrice: 34}];
//     return vm;
//   }]);

// $(document).ready(function() {
//     //Helper function to keep table row from collapsing when being sorted
// 	var fixHelperModified = function(e, tr) {
// 		var $originals = tr.children();
// 		var $helper = tr.clone();
// 		$helper.children().each(function(index)
// 		{
// 		  $(this).width($originals.eq(index).width())
// 		});
// 		return $helper;
// 	};

// 	//Make diagnosis table sortable
// 	$("#diagnosis_list tbody").sortable({
//     	helper: fixHelperModified,
// 		stop: function(event,ui) {renumber_table('#diagnosis_list')}
// 	}).disableSelection();


// 	//Delete button in table rows
// 	// $('table').on('click','.btn-delete',function() {
// 	// 	tableID = '#' + $(this).closest('table').attr('id');
// 	// 	r = confirm('Delete this item?');
// 	// 	if(r) {
// 	// 		$(this).closest('tr').remove();
// 	// 		renumber_table(tableID);
// 	// 		}
// 	// });

// });

// //Renumber table rows
// function renumber_table(tableID) {
// 	$(tableID + " tr").each(function() {
// 		count = $(this).parent().children().index($(this)) + 1;
// 		$(this).find('.priority').html(count);
// 	});
// }


// // $(function(){
// //     $('.table').on('click', 'tr', function(e){
// //             var $tr = $(this);
// //             var $table = $tr.closest('.table');
// //             var our_index = $($tr,$table).index();
// //             if (e.shiftKey) {
// //                 var last_index = $table.data('last-index');
// //                 if (last_index) {
// //                     if (last_index < our_index) {
// //                         while(last_index < our_index) {
// //                             $('tbody tr:eq('+(++last_index)+')', $table).click();
// //                         }   
// //                         $('tbody tr:eq('+(last_index)+')', $table).click();
// //                     } else {  
// //                         while(last_index > our_index) {
// //                             $('tbody tr:eq('+(--last_index)+')', $table).click();
// //                         }
// //                         $('tbody tr:eq('+(last_index)+')', $table).click();
// //                     } 
// //                 }
// //                 $table.data('last-index',our_index);
// //             } else {
// //                 $table.data('last-index',our_index);
// //             }
            
// //             if ($tr.hasClass('success')) {
// //                 $tr.removeClass('success');
// //             } else {
// //                 $tr.addClass('success');
// //             }
// //     });
// // });



// //  $(".selectCheck").click(function() {
// //  if($(this).prop("checked") == true){
// // 	$("#clonedData").append($(this).parent().parent().clone());
// //   $("#clonedData").find(".removeIt").remove();
// //  }else{
// //  	 var rowCheck = $(this).parent().parent().clone();
// //    rowCheck.children(".removeIt").remove();
// //    $('#clonedData tr').each(function(){
// //      if(rowCheck.html()==$(this).html()){
// //      	$(this).remove();
// //      } 
// //    });
// //  }
// // });
  
// $("#appendToTable").click(function() {
// 	$("#printTable").append($("#clonedData").children().clone());
//   $("#clonedData").html('');
// });

// // Code goes here
// var workdata = {};
// workdata.items = [{
//   'ITEMNO': '10',
//   'SERIALN_REQ': 'X',
// }, {
//   'ITEMNO': '20',
//   'SERIALN_REQ': 'X',
// }, {
//   'ITEMNO': '30',
//   'SERIALN_REQ': 'X',
// }, {
//   'ITEMNO': '40',
//   'SERIALN_REQ': 'X',
// }, {
//   'ITEMNO': '50',
//   'SERIALN_REQ': 'X',
// }, {
//   'ITEMNO': '60',
//   'SERIALN_REQ': 'X',
// }, {
//   'ITEMNO': '70',
//   'SERIALN_REQ': 'X',
// }, {
//   'ITEMNO': '80',
//   'SERIALN_REQ': 'X',
// }];

// //myApp.controller("myCntrl", ['$scope', '$http', 'i18nService', 
// //initCntrl]);

// //app.controller("MainController", ['$scope', function($scope) {


	</script>
</body>
</html>