<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

	<link rel="stylesheet" href="/css/main.css" />
	<title>Home Page</title>
</head>

<body>
	<div class="container">
		<nav class="menu">
			<ul>
				<div class="logo"><img src="/assets/logo.png" alt="Girl in a jacket"
						style="width:100px;height:100px; margin:30px 70px 30px"></div>
				<input class="bar" type="radio" name="menu" id="archive" checked>

				<li>
					<!-- <label for="archive" class="title"><i class="fa fa-folder"></i>Archive</label> -->
					<a href="http://localhost:5001/Home">
						<ion-icon name="home-outline" class="icon"></ion-icon>dashboard
					</a>
					<a href="http://localhost:5001/Requestuser">
						<ion-icon name="person-outline" class="icon"></ion-icon>อนุมัติสิทธิผู้ใช้
					</a>
					<a href="http://localhost:5001/Authuser">
						<ion-icon name="people-outline" class="icon"></ion-icon>จัดการสิทธิ์ผู้ใช้
					</a>
					<a href="http://localhost:5001/Cardata">
						<ion-icon name="settings-outline" class="icon"></ion-icon>จัดการข้อมูลรถ
					</a>
					<a href="http://localhost:5001/Leaveinfo">
						<ion-icon name="document-text-outline" class="icon"></ion-icon>ข้อมูลการลา
					</a>
					<a onclick="logout()">
						<ion-icon name="log-out-outline" class="icon"></ion-icon>ออกจากระบบ
					</a>

				</li>

			</ul>
		</nav>
		<main class="main">
			<div class="row">
				<div class="card-group col-md-3">
					<h3>
						จำนวนเด็ก <ion-icon name="happy-outline" class="icon"></ion-icon>
					</h3>
					<div>
						<p class="num">
							<%=result.student%>
						</p>
					</div>
				</div>
				<div class="card-group col-md-3">
					<h3>จำนวนผู้ปกครอง <ion-icon name="person-outline" class="icon"></ion-icon>
					</h3>
					<div>
						<p class="num">
							<%=result.user[0].authCount%>
						</p>
					</div>
				</div>
				<div class="card-group col-md-3">
					<h3>จำนวนครูประจำรถ <ion-icon name="person-outline" class="icon"></ion-icon>
					</h3>
					<div>
						<p class="num">
							<%=result.user[1].authCount%>
						</p>
					</div>
				</div>
				<div class="card-group col-md-3">
					<h3>จำนวนคนขับรถ <ion-icon name="person-outline" class="icon"></ion-icon>
					</h3>
					<div>
						<p class="num">
							<%=result.user[2].authCount%>
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="card-group col-md-3">
					<h3>จำนวนผู้บริหาร <ion-icon name="person-outline" class="icon"></ion-icon>
					</h3>
					<div>
						<p class="num">
							<%=result.user[3].authCount%>
						</p>
					</div>
				</div>
				<div class="card-group col-md-3">
					<h3>จำนวนแอดมิน <ion-icon name="person-outline" class="icon"></ion-icon>
					</h3>
					<div>
						<p class="num">
							<%=result.user[4].authCount%>
						</p>
					</div>
				</div>
				<div class="card-group col-md-3">
					<h3>จำนวนรถ <ion-icon name="car-outline" class="icon"></ion-icon>
					</h3>
					<div>
						<p class="num">
							<%=result.car.carCount%>
						</p>
					</div>
				</div>
				<div class="card-group col-md-3">
					<h3>ผู้ใช้ทั้งหมด <ion-icon name="people-outline" class="icon"></ion-icon>
					</h3>
					<div>
						<p class="num" id="userall">
							<%=result.userAll%>
						</p>
					</div>
				</div>
			</div>

		</main>
	</div>
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
	<!-- Check Login -->
	<script src="/js/auth.js"></script>
	<script>
		hasLogin();
	</script>
	<!-- End Check Login -->
</body>

<script>

</script>

</html>